<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <title>Reset Password</title>

    <style>
        body{
            background-color: #52bd52;
        }
      .form-gap {
        padding-top: 70px;
      }
      .user-message {
            margin: auto auto 2rem auto !important;
            width: 32%;
            padding: 0.5rem;
            border-radius: 3px;
            text-align: center;
            border: 1px solid rgb(4, 189, 4);
            background: rgba(138, 245, 128, 0.644);
        }

        .user-message-error {
            border-color: red;
            background: rgb(255, 176, 176);
            color: red;
        }
    </style>
  </head>
  <body>
    <div class="form-gap">
    <div class="container">
        <%if(errorMessage){%>
            <div class="user-message user-message-error">
                <%=errorMessage%>
            </div>
            <%}%>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="text-center">
                <h3><i class="fa fa-lock fa-4x"></i></h3>
                <h2 class="text-center">Forgot Password?</h2>
                <p>You can reset your password here.</p>
                <div class="panel-body">
                  <form
                  action="/buyer/resetpassword"
                    id="register-form"
                    role="form"
                    autocomplete="off"
                    class="form"
                    method="post"
                  >
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon"
                          ><i
                            class="glyphicon glyphicon-envelope color-blue"
                          ></i
                        ></span>
                        <input
                          id="email"
                          name="reset_email"
                          placeholder="enter your existing email"
                          class="form-control"
                          type="email"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <input
                        name="recover-submit"
                        class="btn btn-lg btn-primary btn-block"
                        value="Reset Password"
                        type="submit"
                      />
                    </div>

                    <input
                      type="hidden"
                      class="hide"
                      name="token"
                      id="token"
                      value=""
                    />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</html>
